<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- VLabs Icon  -->
    <link rel="shortcut icon" href="images/icon.svg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/bundle.css?ver=112">
    <link rel="stylesheet" href="css/style.css?ver=112">

    <!-- Site Title  -->
    <title>Virtual Labs</title>
</head>

<body>
    <main>
        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-16 col-lg-8 mt-5 mb-5"> <!-- Width of Container -->
                        <div class="signin-inner bg-white shadow border rounded border-soft p-3 p-lg-5">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <a class="navbar-brand mb-4" th:href="index.html">
                                    <img src="images/logo-dark-icon.svg" alt="brand">
                                </a>
                                <h4 class="font-weight-bold form-head mb-4">Create an account</h4>
                                <p class="text-gray form-sub-head mb-0">It's free and only takes a minute.</p>
                            </div>

                            <form method="POST" action="#" th:action="@{/users}" th:object="${user}"
                                class="needs-validation" novalidate
                                oninput='confirmPassword.setCustomValidity(confirmPassword.value != newPassword.value ? true : false)'>
                                <div class="alert alert-danger" th:if="${alreadyRegister==true}">
                                    Email is already registered.
                                </div>
                                <div class="form-group row"> <!-- Row 1 -->
                                    <div class="col-sm-6">
                                        <label for="inputNodalCenter">Nodal Center</label>
                                        <select class="form-control" name="user.nodalCenter" id="user.nodalCenter"
                                            th:field="*{nodalCenter}" required>
                                            <option selected value="">Select Nodal Center</option>
                                            <option th:each="nodal : ${nodalList}" th:value="${nodal.nodalCenterId}"
                                                th:utext="${nodal.name}">...</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid nodal center.
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputCourse">Course</label>
                                        <select id="course" class="form-control" th:field="*{course}" required>
                                            <option selected value="">Select Course</option>
                                            <option value="Bachelor of Science">Bachelor of Science</option>
                                            <option value="Master of Science">Master of Science</option>
                                            <option value="Bachelor of Engineering">Bachelor of Engineering</option>
                                            <option value="Master of Engineering">Master of Engineering</option>
                                            <option value="Bachelor of Technology">Bachelor of Technology</option>
                                            <option value="Master of Technology">Master of Technology</option>
                                            <option value="Doctor of Philosophy">Doctor of Philosophy</option>
                                            <option value="Diploma">Diploma</option>
                                            <option value="Others">Others</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid course.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row"> <!-- Row 2 -->
                                    <div class="col-sm-6">
                                        <label for="inputDiscipline">Discipline</label>
                                        <select id="discipline" class="form-control" th:field="*{discipline}" required>
                                            <option selected value="">Select Discipline</option>
                                            <option value="Computer Application & Information Technology">Computer
                                                Application & Information Technology</option>
                                            <option value="Mechanical Engineering">Mechanical Engineering</option>
                                            <option value="Electrical Engineering">Electrical Engineering</option>
                                            <option value="Civil Engineering">Civil Engineering</option>
                                            <option value="Computer Applications">Computer Applications</option>
                                            <option value="Chemical Engineering">Chemical Engineering</option>
                                            <option value="Aeronautical Engineering">Aeronautical Engineering</option>
                                            <option value="Electrical Engineering">Electrical Engineering</option>
                                            <option value="Biotechnology">Biotechnology</option>
                                            <option value="Chemistry">Chemistry</option>
                                            <option value="Information Technology">Information Technology</option>
                                            <option value="Others">Others</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid discipline.
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputSemester">Semester</label>
                                        <select id="semester" class="form-control" th:field="*{semester}" required>
                                            <option selected disabled value="0">Select Semester</option>
                                            <option value="1">Semester I</option>
                                            <option value="2">Semester II</option>
                                            <option value="3">Semester III</option>
                                            <option value="4">Semester IV</option>
                                            <option value="5">Semester V</option>
                                            <option value="6">Semester VI</option>
                                            <option value="7">Semester VII</option>
                                            <option value="8">Semester VIII</option>
                                            <option value="9">Semester IX</option>
                                            <option value="10">Semester X</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid semester.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row"> <!-- Row 3 -->
                                    <div class="col-sm-6">
                                        <label for="inputFirstname">First name</label>
                                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}"
                                            placeholder="First name" pattern="[a-zA-Z]{2,15}" maxlength="15" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid first name.
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputLastname">Last name</label>
                                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                                            placeholder="Last name" pattern="[a-zA-Z]{2,15}" maxlength="15" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid last name.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row"> <!-- Row 4 -->
                                    <div class="col-sm-6">
                                        <label for="inputRollNumber">Roll Number</label>
                                        <input type="text" class="form-control" id="rollNo" th:field="*{rollNo}"
                                            placeholder="Roll Number" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid roll number.
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputDOB">Date of Birth</label>
                                        <!-- <input type="date" class="form-control" id="inputPostalCode" placeholder="Postal Code"> -->
                                        <input type="text" class="form-control" id="dob" th:field="*{dob}"
                                            placeholder="Date of Birth" onfocus="(this.type='date')"
                                            onblur="(this.type='text')" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid date of birth.
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row"> <!-- Row 5 -->
                                    <div class="col-sm-6">
                                        <label for="inputEmail">Email Address</label>
                                        <input type="text" class="form-control" id="email" th:field="*{email}"
                                            placeholder="Email Address" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid email address.
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputMobileNumber">Mobile Number</label>
                                        <input type="text" class="form-control" id="mobileNumber"
                                            th:field="*{mobileNumber}" placeholder="Mobile Number" maxlength="10"
                                            pattern="[0-9]{10}" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid mobile number.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row"> <!-- Row 6 -->
                                    <div class="col-sm-6">
                                        <label for="inputPassword">Password</label>
                                        <input type="password" class="form-control" id="newPassword"
                                            th:field="*{password}" placeholder="Password" autocomplete="off"
                                            pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                            aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            The minimum password length is 8 characters and must contain at least 1
                                            lowercase letter, 1 capital letter, 1 number and 1 special character.
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="inputConfirmPassword">Confirm Password</label>
                                        <input type="password" class="form-control" id="confirmPassword"
                                            placeholder="Confirm Password" autocomplete="off"
                                            aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Please make sure your passwords match.
                                        </div>
                                    </div>
                                </div>

                                <div class="d-block d-sm-flex justify-content-between align-items-center mt-2">
                                    <!-- Terms Checkbox -->
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" required>
                                            <span class="form-check-sign"></span>
                                            I agree to the <a href="./terms.html">terms and conditions</a>

                                            <div class="invalid-feedback">
                                                You must agree before submitting.
                                            </div>
                                        </label>
                                    </div>
                                </div>

                                <div class="mt-4"> <!-- Button -->
                                    <button type="submit" id="submit" class="btn btn-block form-btn">Sign up</button>
                                </div>

                            </form>

                            <div class="d-block d-sm-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    Already have an account?
                                    <a th:href="login.html" class="font-weight-bold">Login here</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <!-- JavaScript -->
    <script src="scripts/main.js?ver=112"></script>

    <script>
        // Checking if passwords match
        // document.getElementById("submit").disabled = true;
        $("#newPassword, #confirmPassword").on("keyup", function () {
            if (newPassword.value != "" && newPassword.value != null && confirmPassword.value != "" && confirmPassword.value != null && newPassword.value != confirmPassword.value) {
                confirmPassword.setCustomValidity("Please make sure your passwords match.");
            } else {
                confirmPassword.setCustomValidity('');
            }
        });

        $("#confirmPassword").on("keyup", function () {
            console.log(document.getElementById("newPassword"))
            if (confirmPassword.value == document.getElementById("newPassword").value) {
                document.getElementById("submit").disabled = false;
            } else {
                document.getElementById("submit").disabled = true;
            }
        });

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
</body>

</html>