<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- VLabs Icon  -->
    <link rel="shortcut icon" href="images/icon.svg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/bundle.css?ver=112">
    <link rel="stylesheet" href="css/style.css?ver=112">

    <!-- Site Title  -->
    <title>Virtual Labs</title>
</head>

<body>
    <main>
        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-14 col-lg-7"> <!-- Width of Container -->
                        <div class="signin-inner bg-white shadow border rounded border-soft p-3 p-lg-5">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <a class="navbar-brand mb-4" th:href="index.html">
                                    <img src="images/logo-dark-icon.svg" alt="brand">
                                </a>
                                <h4 class="font-weight-bold form-head mb-4">Suggestion Space</h4>
                                <p class="text-gray form-sub-head mb-0">We would love your suggestions to improve our
                                    platform!</p>
                            </div>

                            <form method="POST" th:action="@{/suggestions}" th:object="${suggestion}"
                                class="needs-validation" novalidate>

                                <div class="form-group"> <!-- Row 5 -->
                                    <div>
                                        <!--<label for="inputState">Your Subject</label> -->
                                        <input type="text" th:field="*{subject}" class="form-control" id="inputState"
                                            placeholder="Your subject..." required>
                                        <div class="invalid-feedback">
                                            Please provide a valid subject of your message.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--<label for="exampleFormControlTextarea1">Your Message</label> -->
                                    <textarea class="form-control" th:field="*{message}"
                                        id="exampleFormControlTextarea1" placeholder="Your message..." rows="3"
                                        required></textarea>
                                    <div class="invalid-feedback">
                                        Please enter your message in the textarea.
                                    </div>
                                </div>

                                <div class="mt-4"> <!-- Button -->
                                    <button type="submit" class="btn btn-block form-btn">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <!-- JavaScript -->
    <script src="scripts/main.js?ver=112"></script>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
</body>

</html>